* text=auto

*.cmd text eol=crlf
*.bat text eol=crlf

*.sh  text eol=lf

bin/print-apk-minsdk          text eol=lf
bin/print-apk-package         text eol=lf
bin/print-apk-permissions     text eol=lf

bin/print-apk-minsdk.cmd      text eol=crlf
bin/print-apk-package.cmd     text eol=crlf
bin/print-apk-permissions.cmd text eol=crlf
